---
const {gambar, judul, deskripsi, path, direction, logo, cta} = Astro.props;
---
<div class="hidden duration-700 ease-in-out" data-carousel-item>
    <section class="px-3 py-5 bg-neutral-100 lg:py-10">
        {direction === 'right' ? (
            <div class="grid lg:grid-cols-2 items-center justify-items-center gap-2">
                <div class="order-2 lg:order-1 flex flex-col justify-center items-center">
                    
                        <p class="text-2xl font-bold md:text-4xl text-orange-600 my-5"><img src={logo} width="250" alt={judul + " logo"}></p>
                        <p class="text-2xl font-bold md:text-4xl">{judul}</p>
                        <p class="mt-2 text-sm text-center md:text-lg lg:px-10">{deskripsi}</p>
                        <a href={path} class="text-lg md:text-2xl bg-black text-white py-2 px-5 mt-10 hover:bg-zinc-800">{cta}</a>
                    
                    
                </div>
                <div class="order-1 lg:order-2">
                    <img class="h-80 w-80 object-cover lg:w-[500px] lg:h-[500px]" src={gambar} alt={judul}>
                </div>
            </div>
        ) : (
        <div class="grid lg:grid-cols-2 items-center justify-items-center gap-2">
            <div class="order-2 lg:order-2  flex flex-col justify-center items-center">
                
                    <p class="text-2xl font-bold md:text-4xl text-orange-600 my-5"><img src={logo} width="250px" alt={judul + " logo"}></p>
                    <p class="text-2xl font-bold md:text-4xl">{judul}</p>
                    <p class="mt-2 text-sm text-center md:text-lg lg:px-10">{deskripsi}</p>
                    <a href={path} class="text-lg md:text-2xl bg-black text-white py-2 px-5 mt-10 hover:bg-zinc-800">{cta}</a>
                
                
            </div>
            <div class="order-1 lg:order-1">
                <img class="h-80 w-80 object-cover lg:w-[500px] lg:h-[500px]" src={gambar} alt={judul}>
            </div>
        </div>
        )}
        
    </section>
</div>
