
---
import brand from "../../data/brand.json"
const {brand_id,path, gambar, nama, deskripsi, direction} = Astro.props;

---

<section>
    {direction === 'right' ? (
        <div class="card lg:card-side bg-base-100 shadow-xl mb-5">
            
            <div class="card-body">
                <p class="text-2xl font-bold md:text-4xl text-orange-600 my-5"><img src={brand[brand_id - 1].gambar} width="250" alt={brand[brand_id - 1].nama + " logo"}></p>
                <h2 class="card-title">{nama}</h2>
                <div set:html={deskripsi}></div>
                <div class="card-actions justify-start">
                    <a href={path} class="btn btn-primary">Lihat Produk</a>
                </div>
            </div>
            <figure>
                <img class="object-cover"
                    src={gambar} alt={nama} />      
            </figure>
        </div>
        ) : (
        <div class="card lg:card-side bg-base-100 shadow- mb-5">
            <figure>
                <img class="object-cover"
                    src={gambar} alt={nama} />      
            </figure>
            <div class="card-body">
                <p class="text-2xl font-bold md:text-4xl text-orange-600 my-5"><img src={brand[brand_id - 1].gambar} width="250" alt={brand[brand_id - 1].nama + " logo"}></p>
                <h2 class="card-title">{nama}</h2>
                <div set:html={deskripsi}></div>
                <div class="card-actions justify-end">
                    <a href={path} class="btn btn-primary">Lihat Produk</a>
                </div>
            </div>
        </div>
        )}
</section>
